.ChangePassword {
    width: 600px;
    margin: 12vh auto;
}

.form-header h2 {
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 900;
    position: relative;
}

.form-header p {
    text-align: center;
}

.form-header h2::before {
    background: #ffb606 none repeat scroll 0 0;
    top: 50px;
    content: "";
    height: 2px;
    position: absolute;
    width: 125px;
    z-index: 1;
}

.btn_changePassword {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 760px) {
    .ChangePassword {
        width: 90%;
    }
}